# Ignore build output directories
/reportCardSystem/target/
/wiscol_report_card_generator/target/

# Ignore NetBeans private project files
/reportCardSystem/nbproject/private/

# Ignore environment variables file
.env
